<div class="modal-header">
    <h5 class="modal-title" id="modal-xl-Label"> Contact No List</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row g-2">
        <input id="_CustomerId" type="hidden" />
        <div class="col-12 text-initial">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="CustomerContactNoDetail(null);"><i class="fa fa-plus-circle"></i> Add Contact No</button>
        </div>
        <div class="col-12">
            <!---->
            <div id="divResults-contactNo" style="min-height:3.1rem !important;"></div>
            <!---->
        </div>
    </div> 
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>


<script>

    $(document).ready(function () {
       
        searchCustomerContactNo('@ViewBag.CustomerId');
        $('#_CustomerId').val('@ViewBag.CustomerId');
    });

    function searchCustomerContactNo(customerId) {

        $('#divResults-contactNo').LoadingOverlay("show", {
            image: "",
            custom: singleFieldLoader
        });

        $.ajax({
            url: '/Admin/SearchCustomerContactNo'
            , type: 'POST'
            , data: { customerId: customerId }
            , dataType: 'html'
            , success: function (response) {
                $('#divResults-contactNo').html(response);
            }
            , complete: function () {
                $('#divResults-contactNo').LoadingOverlay('hide');
            }
        });
    } 


    function CustomerContactNoDetail(customerContactNoId) {
        $.LoadingOverlay("show", {
            image: "",
            custom: customElement
        });
        $.ajax({
            url: '/Admin/GetCustomerContactNo'
            , type: 'GET'
            , dataType: 'html'
            , data: { customerContactNoId: customerContactNoId }
            , success: function (response) {
                $('#modal-content-lg').html(response);
                $('#modal-popup-lg').modal('show');
            }
            , error: function (response) {
                swal.fire('Error', 'An error occurred while processing the request to the server.', 'error');
            }
            , complete: function () {
                $.LoadingOverlay('hide');
            }
        });
    }

    function saveCustomerContactNoDetails(e) {


        var formdata = new FormData();

        var formParams = $("#frmCustomerContactNoDtl").serializeArray();
        $.each(formParams, function (i, val) {
            formdata.append(val.name, val.value);
        });
        $.ajax({
            url: '/Admin/UpdateCustomerContactNo',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            //  dataType: "html",
            beforeSend: function () {
            },
            success: function (response) {
                performValidation(response);
            },
            failure: function (errMsg) {
                swal.fire("Error", errMsg, "error");
                searchCustomerContactNo('@ViewBag.CustomerId');
            }
        });
    }

    function AddNewCustomerContactNoDetails(e) {

        var formdata = new FormData();

        var formParams = $("#frmCustomerContactNoDtl").serializeArray();
        $.each(formParams, function (i, val) {
            formdata.append(val.name, val.value);
        });

        for (var i = 0; i < imageContainer.length; i++) {
            var abc = imageContainer[i];
            if (abc != null && abc !== "") {
                formdata.append("files", abc);
            }
        }
        $.ajax({
            url: '/Admin/AddCustomerContactNo',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            //  dataType: "html",
            beforeSend: function () {
            },
            success: function (response) {
                performValidation(response);
            },
            failure: function (errMsg) {
                swal.fire("Error", errMsg, "error");
                searchCustomerContactNo('@ViewBag.CustomerId');
            }
        });
    } 

    function confirmDelete(id) {
        let name = 'isDeleted';
        let value = '1';

        swal.fire({
            title: 'Proceed to delete?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes!',
            cancelButtonText: 'No!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                saveCustomerContactNoNvp(name, id, value);
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swal.fire(
                    'Cancelled',
                    'delete cancelled.',
                    'error'
                )
            }
        })
    }

    function saveCustomerContactNoNvp(Name, Id, value) {
        let request = Object.assign({
            Name: Name,
            Value: value,
            Type: null,
            PK: Id
        });
        $.ajax({
            type: "POST",
            url: '/Admin/UpdateCustomerContactNoNVP',
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            // dataType: "html",
            beforeSend: function () {
            },
            success: function (response) {
                performValidation(response);
            },
            failure: function (errMsg) {
                swal.fire("Error", errMsg, "error");
                searchCustomerContactNo('@ViewBag.CustomerId');
            }
        });
    }

    function performValidation(response) {
        if (!response.status) {
            swal.fire("Error", response.reason, "error");
        }
        else {
            swal.fire("Success!", "Process done.", "success")
                .then(() => {
                    searchCustomerContactNo('@ViewBag.CustomerId');
                });
            $('#modal-popup-lg').modal('hide');
        }
    }

</script>


